/* This is Stylesheet*/
body {
    background-color: aqua;
}
p {
    color: black;
    text-align: center;
    font-size: 40px;
}
menu Logo{
    background-color: lime;
    float: left;
    width: 300px;
    font-size: 40px;
}
menu li{
    background-color: pink;
    float: right;
    width: 300px;
}